.range {
  position: relative;
  width: 644px;
  height: 5px;
}
.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: rgb(7, 109, 243);
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: rgb(7, 109, 243);
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: rgb(7, 109, 243);
  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: black;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-labels {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;
}
.range-labels li {
  position: relative;
  float: left;
  width: 90.25px;
  text-align: center;
  color: black;
  font-size: 14px;
  cursor: pointer;
}
.range-labels .label::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  background: #b2b2b2;
  border-radius: 50%;
}
.upper-label {
  height: 10px;
  margin-bottom: 10px;
}
.pupil1 {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: black;
}
.pupil2 {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}

.pupil3 {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: black;
}

.pupil4 {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
}

.pupil5 {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}

.pupil6 {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
}

.pupil7 {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: black;
}

.pupil8 {
  margin: 0 auto;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: black;
}

.range-labels .active {
  color: rgb(7, 109, 243);
}
.range-labels .selected::before {
  background: rgb(7, 109, 243);
}
.range-labels .active.selected::before {
  display: none;
}

.align-circles {
  position: relative;
  display: flex;
  justify-content: center;
  height: 41px;
  vertical-align: baseline;
}
