.tooltip {
    @apply relative
}

.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    @apply bg-black/75 backdrop-blur text-white text-center p-2 rounded absolute z-50 text-sm block transition-opacity whitespace-nowrap pointer-events-none
}

.tooltip .tooltip-left {
    transform: translateX(20px);
}

.tooltip .tooltip-right {
    transform: translateX(-20px);
}

.tooltip .tooltip-top {
    transform: translateY(20px);
}

.tooltip .tooltip-bottom {
    transform: translateY(-20px);
}

.tooltip .tooltip-right {
    top: 20%;
    left: calc(100% + 10px);
}


.tooltip .tooltip-top {
    bottom: 100%;
    left: 50%;
}

.tooltip .tooltip-bottom {
    top: 100%;
    left: 50%;
}

.tooltip .tooltip-left {
    top: -5px;
    right: calc(100% + 10px);
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 100;
    transform: translateX(0px);
    transform: translateY(0px);
}

hr {
    @apply border border-secondary-300
}
.plain-audio::-webkit-media-controls-enclosure {
    border-radius: 0;
    background: transparent;
    padding: 0px;
}