@tailwind base;
@tailwind components;

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #453c52;
  @apply w-full h-full antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

.btn {
  @apply inline-flex items-center justify-center whitespace-no-wrap text-sm font-semibold py-2 px-4 rounded cursor-pointer;
}

.btn:focus {
  @apply outline-none shadow-inner;
}

/* Button Styles */

.btn-large {
  @apply py-2 px-5 text-base h-10;
}

a {
  @apply text-blue-800;
}

a:hover {
  @apply text-blue-600;
}

a[href^="tel:"]:before {
  content: "\260e";
  @apply mr-1;
}

.bg-primary {
  background-image: linear-gradient(
    135deg,
    rgba(56, 161, 105, 1) 0%,
    rgba(47, 133, 90, 1) 100%
  );
}

/* Button */

button:focus {
  outline: none;
}

.btn {
  @apply inline-flex items-center justify-center whitespace-no-wrap text-sm font-semibold py-2 px-4 rounded cursor-pointer;
}

.btn:focus {
  @apply outline-none shadow-inner;
}

/* Button Styles */

.btn-default {
  @apply border text-gray-800;
}

.btn-default:hover {
  @apply bg-gray-100 text-gray-600;
}

.btn-default:focus {
  @apply bg-gray-400 text-gray-700;
}

.btn-subtle {
  @apply bg-gray-200 text-gray-800;
}

.btn-subtle:hover {
  @apply bg-gray-300 text-gray-900;
}

.btn-subtle:focus {
  @apply bg-gray-400 text-gray-900;
}

.btn-primary-ghost {
  @apply bg-white text-primary-500 border border-primary-500;
}

.btn-primary-ghost:hover {
  @apply bg-primary-100 text-primary-600 border-primary-400;
}

.btn-primary-ghost:focus {
  @apply bg-primary-800 text-white border-primary-400;
}

.btn-primary {
  @apply bg-primary-500 text-white;
}

.btn-primary:hover {
  @apply bg-primary-600;
}

.btn-primary:focus {
  @apply bg-primary-800;
  background-image: none;
}

.btn-warning {
  @apply bg-yellow-500 text-white;
  background-image: linear-gradient(
    135deg,
    rgba(237, 137, 54, 1) 0%,
    rgba(221, 107, 32, 1) 100%
  );
}

.btn-warning:hover {
  @apply bg-yellow-600;
  background-image: linear-gradient(
    135deg,
    rgba(221, 107, 32, 1) 0%,
    rgba(192, 86, 33, 1) 100%
  );
}

.btn-warning:focus {
  @apply bg-yellow-800;
  background-image: none;
}

.btn-danger {
  @apply bg-red-500 text-white;
  background-image: linear-gradient(
    135deg,
    rgba(245, 101, 101, 1) 0%,
    rgba(229, 62, 62, 1) 100%
  );
}

.btn-danger:hover {
  @apply bg-red-600;
  background-image: linear-gradient(
    135deg,
    rgba(229, 62, 62, 1) 0%,
    rgba(197, 48, 48, 1) 100%
  );
}

.btn-danger:focus {
  @apply bg-red-800;
  background-image: none;
}

button:disabled,
.disabled {
  @apply cursor-not-allowed bg-gray-300 text-gray-500 shadow-none border-transparent;
  background-image: none;
}

button:disabled:hover,
.disabled:hover,
button:disabled:focus,
.disabled:focus {
  @apply bg-gray-300 text-gray-500 border-transparent shadow-none;
  background-image: none;
}

.btn-small {
  @apply py-1 px-3 text-xs h-7 leading-normal;
}

.btn-normal {
  @apply py-1 px-4 text-sm h-8;
}

.btn-large {
  @apply py-2 px-5 text-base h-10;
}

.button-xl {
  @apply py-2 px-6 text-base h-12;
}
@import "tailwindcss/utilities";

.multiselect-dropdown__search-dropdown {
  max-height: 20rem;
  overflow: auto;
}

.max-height-dropdown {
  max-height: 20rem;
  overflow: auto;
}

/* Radio */

.radio-label {
  @apply select-none .cursor-pointer;
}

.radio-label span {
  @apply inline-block align-middle;
  transform: translate3d(0, 0, 0);
}

.radio-label span:first-child {
  @apply relative rounded-full align-middle border border-gray-500 bg-white mr-3;
  width: 1.125rem;
  height: 1.125rem;
  transform: scale(1);
  transition: all 0.2s ease;
}

.radio-label span:first-child svg {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}

.radio-label span:first-child:before {
  content: "";
  @apply bg-primary-500 w-full h-full block opacity-100 rounded-full;
  transform: scale(0);
}

.radio-label:hover span:first-child {
  @apply bg-primary-100 border-primary-500;
}

.radio-input:checked + .radio-label span:first-child {
  @apply bg-primary-500 border-primary-500;
  animation: wave 0.4s ease;
}

.radio-input:checked + .radio-label span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
