$primary: #03543f;

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.header-section {
  .appBar {
    z-index: 1201;
  }
  .toolbar {
    padding-top: 72px;
  }
  .menuButton {
    @media only screen and (min-width: 601px) {
      display: none;
    }
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Mui-selected {
  .MuiSvgIcon-root {
    color: #0085ad !important;
  }
  .MuiListItemText-root {
    color: #0085ad !important;
  }
}

.main-content {
  margin-top: 64px;
  border-bottom: solid 50px #f1f1f1;
  background: #f1f1f1;
  @media only screen and (min-width: 601px) {
    margin-left: 240px;
  }
  min-height: 100vh;
}
.app-footer {
  width: 100%;
  background: #ffffff no-repeat;
  background-size: 100% 100%;
  min-height: 80px;
  z-index: 1202;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.appBar {
  background-color: white !important;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-item-card {
  background: #ffffff;
  border: dashed 1px #333;
  cursor: pointer;
  min-height: 120px;
  line-height: 120px;
}
.stats-cards {
  .stats-card-item {
    padding: 10px;
    margin: 16px;
  }
}

@media only screen and (max-width: 601px) {
  .createBtn {
    position: relative !important;
    right: 20px;
    top: 0px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.description-text {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0px;
}

.wrap-text {
  white-space: pre-wrap;
}

.no-wrap-text {
  white-space: nowrap;
}

.non-clickable {
  cursor: not-allowed;
}

.pagination {
  margin: auto;
}
.error-text {
  font-size: 14px;
  color: red;
}

.textMarginCenter {
  text-align: center;
  padding-top: 5px;
}

.nativeSelectMod {
  .MuiInputBase-root {
    width: 100%;
  }
}

.care-secondary-color {
  color: #3f51b5;
}

.hometext {
  margin: 10px 35px !important;
  @media (max-width: 768px) {
    margin: 10px 15px !important;
  }
}

.MuiCardHeader-title {
  text-align: center;
}

.hometitle {
  @media (min-width: 768px) {
    margin-top: 15px !important;
  }
}

.MuiTypography-h6 {
  font-weight: 400 !important;
  @media (max-width: 768px) {
    font-size: 1.1rem !important;
  }
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

// logout drop-down

.dropdown:hover .dropdown-menu {
  display: block;
}

.border-primary {
  border-color: $primary;
}

// Phone number styles

.react-tel-input .form-control + div:before {
  content: "";
}

.react-tel-input {
  margin-top: 8px;
  margin-bottom: 4px;
  .form-control {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    border-radius: 4px;
    &:focus {
      border-color: $primary;
      box-shadow: 0 0 0 1px $primary;
    }
  }
}
