.header-section {
  .appBar {
    z-index: 1201;
  }
  .toolbar {
    padding-top: 72px;
  }
  .menuButton {
    @media only screen and (min-width: 601px) {
      display: none;
    }
  }
}

.Mui-selected {
  .MuiSvgIcon-root {
    color: #0085ad !important;
  }
  .MuiListItemText-root{
    color: #0085ad !important;
  }
}

.main-content {
  margin-top: 64px;
  border-bottom: solid 100px #f1f1f1;
  background: #f1f1f1;
  @media only screen and (min-width: 601px) {
    margin-left: 240px;
  }
  min-height: 100vh;
}
#root {
  height: 100vh;
}
.app-footer {
  width: 100%;
  background: rgb(77, 160, 180) no-repeat;
  background-size: 100% 100%;
  height: 40px;
  position: fixed;
  bottom: 0px;
  min-height: 40px;
  z-index: 10000;
  img {
    vertical-align: middle;
    position: absolute;
    right: 0px;
    height: 80px;
    bottom: -1px;
  }
  .copy-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #ffffff;
  }
}

.appBar {
  background-color: #f1f1f1 !important;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-item-card {
  background: #ffffff;
  border: dashed 1px #333;
  cursor: pointer;
  min-height: 120px;
  line-height: 120px;
}
.stats-cards {
  .stats-card-item {
    padding: 10px;
    margin: 16px;
  }
}

@media only screen and (max-width: 601px) {
  .createBtn {
    position: relative !important;
    right: 20px;
    top: 0px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.description-text {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0px;
}

.wrap-text {
  white-space: pre-wrap;
}

.no-wrap-text {
  white-space: nowrap;
}

.non-clickable {
  cursor: not-allowed;
}

.pagination {
  margin: auto;
  .current-page {
    color: white;
    background-color: #3f51b5;
  }
  .page-no {
    color: black;
    background-color: white;
  }
}
.error-text {
  font-size: 14px;
  color: red;
}

.textMarginCenter {
  text-align: center;
  padding-top: 5px;
}
